.small_card {
	background: #fff;
	border-radius: 16px;
	margin: 5px 10px;
	padding: 20px;
	display: flex;
	box-shadow: 0 0 5px #00000026;
	.hero_img {
		width: 200px;
		aspect-ratio: auto 200 / 135;
		height: 135px;
		border-radius: 16px;
	}
	.sCard_body {
		padding: 5px 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a {
			text-decoration: none;
			color: #000;
			font-weight: 500;
			line-height: 20px;
			font-size: 18px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		p {
			display: flex;
			margin: -5px 0;
			color: #767676ee;
			font-size: 12px;
			transition: all 0.2s ease-in-out;
			font-weight: 600;

			img {
				height: 15px;
				width: 15px;
				margin: 0 5px;
			}
		}
	}
}

@media (max-width: 460px) {
	.small_card {
		flex-direction: column;
		align-items: center;
		.hero_img {
			width: 100%;
			// aspect-ratio: auto 200 / 135;
			height: 160px;
			border-radius: 16px;
		}
	}
	.sCard_body {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a {
			text-decoration: none;
			color: #000;
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		p {
			padding-top: 20px;
			display: flex;
			margin: 10px 0;

			color: #767676ee;
			font-size: 12px;
			transition: all 0.2s ease-in-out;
			font-weight: 600;

			img {
				height: 15px;
				width: 15px;
				margin: 0 5px;
			}
		}
	}
}
