.big_card {
	background: #fff;
	border-radius: 16px;
	margin: 5px 10px;
	padding: 20px;
	box-shadow: 0 0 5px #00000026;
	.hero_img {
		width: calc(100%);
		overflow: hidden;
		border-radius: 16px;
	}
	.bCard_body {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a {
			text-decoration: none;
			color: #000;
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.bCard_desc {
			color: #000;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		p {
			display: flex;
			margin: 10px 0;
			margin-top: 20px;
			color: #767676ee;
			font-size: 12px;
			transition: all 0.2s ease-in-out;
			font-weight: 600;

			img {
				height: 15px;
				width: 15px;
				margin: 0 5px;
			}
		}
	}
}
