.loading {
	height: 100vh;
	width: 100%;
	background-color: #88acfaa2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 10px solid rgb(42, 19, 255);
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	animation: rotate 1.5s forwards infinite ease-in;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(360deg);
	}
	75% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
