.category_button {
	appearance: none;
	border: 0;
	border-radius: 50px;
	padding: 10px 5px;
	font-size: 14px;
	font-weight: 600;
	width: calc(100% - 30px);
	height: 510px;
	margin: 15px;
	color: #fff;
	background-color: blue;
	cursor: pointer;
}
