.category_header {
	width: calc(100% - 20px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 40px 10px;
}
.divider {
	width: calc(100% - 30px);
	height: 2px;
	background-color: rgba(0, 0, 0, 0.103);
	color: #fff;
	z-index: 2;
}

.category_name_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50px;
	width: fit-content;
	padding: 5px 20px;
	z-index: 11;
	background: #eaeaea;
}
.category_name {
	width: max-content;
	background: #eaeaea;
	border: 2px solid #000;
	border-radius: 50px;
	z-index: 10;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: 600;
}
