.app {
	height: 100vh;
	width: 100%;
	padding: 0 100px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;
	background: #eaeaea;
}

.grid_card_container {
	margin: 0 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: calc(100% - 20px);
}
@media (max-width: 660px) {
	.app {
		padding: 0 30px;
	}
}
@media (max-width: 460px) {
	.app {
		padding: 0px;
	}
}
